{% extends 'base.html' %}

{% block head %}
    <title> Browse </title>
    <link rel="stylesheet" href="../../static/css/album.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="container artistheader" style="text-align: center">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">

                <img class="bd-placeholder-img rounded" src="../../static/img/drake.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <h2 class="albumTitle">Scorpion</h2>
                <p><a class="btn btn-primary" href="#" role="button">View album »</a></p>
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded" src="../../static/img/tscott.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <h2 class="albumTitle">HIGHEST IN THE ROOM</h2>
                <p><a class="btn btn-primary" href="#" role="button">View album »</a></p>
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <!--        <svg class="bd-placeholder-img imgArtist3 rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
                <img class="bd-placeholder-img rounded" src="../../static/img/africa.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <h2 class="albumTitle">African Giant</h2>
                <p><a class="btn btn-primary" href="#" role="button">View album »</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

    </div>

{% endblock %}